<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	Smaug is a janky customer search and management tool. It allows businesses to quickly find customer records and accumulate simple customer profiles. Smaug can also be used to autofill and validate invoices. If you're wondering what the name Smaug has anything to do with the fire drake from the Hobbit- it doesn't. It just sounded cool. Just kinding. It was a lame pun since this was originally built for Kearney Mesa Smog Check.
</p>
<p>
	As Smaug was built by only one sleep-deprived undergrad, it is still in testing. Please check back when everything actually works.	
</p>
<p>
	Smaug is currently being used by the following business:
</p>

<center>
<%= link_to image_tag("kms-banner.jpg", alt: "KMS"),
          'http://www.kmsmog.com/' %>
</center>

<p>Yep, that's it. Ok cool.</p>