<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
  <div class="row">
    <aside class="col-md-12">
      <section class="customer_form">
        <%= render 'shared/customer_form' %>
      </section>
    </aside>
  </div>  
<% else %>
	<div class="center jumbotron">
	  <h1>Welcome to the Smaug!</h1>

	  <h2>
		dis like the home page
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>

	<!-- xxx hm how give credit / get permission for image??? -->
	<%= link_to image_tag("smaug.png", alt: "Smaug logo"),
	            'http://icons.mysitemyway.com/legacy-icon/128305-simple-red-square-icon-animals-animal-dragon1/' %>
<% end %>	            