Beaker==1.6.4
Mako==1.0.0
MarkupSafe==0.23
PDF==1.0
Pillow==2.5.3
PySensors==0.0.2
RBTools==0.6.2
ZSI==2.1-a1
egenix-mx-base==3.2.7
fdfgen==0.11.0
html5lib==0.999
httplib2==0.9
lxml==3.3.5
matplotlib==1.4.0
mutagen==1.23
numpy==1.9.0
openshot==1.4.3
pdfminer==20140328
psycopg2==2.5.3
pyPdf==1.13
pygame==1.9.1release
pygobject==3.12.2
pyparsing==2.0.2
pysane==2.0
pyserial==2.7
python-dateutil==2.2
python-distutils-extra==2.38
python-musicbrainz==2.1.5
python-xlib==0.15rc1
pytz==2014.7
pyxdg==0.25
redis==2.10.3
reportlab==3.1.8
s3cmd==1.5.0-rc1
scipy==0.14.0
simplejson==3.4.0
six==1.7.3
slate==0.3
termcolor==1.1.0
ufw==0.33
urwid==1.2.1
wsgiref==0.1.2
xhtml2pdf==0.0.5
