@import "bootstrap-sprockets";
@import "bootstrap";

// most css provided courtesy of Michael Harl's RoR tutorial. thanks!

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#w-logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#w-logo:hover {
  color: #fff;
  text-decoration: none;
}

#p-logo {
  float: left;
  // margin-right: 10px;
  padding-top: 6px;
  padding-right: 0px;
  padding-left: 0px;
  // width: 100%;
   // overflow-x: hiddens; 
}


/* footer */

footer {
  margin-top: 55px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  padding-left:5%;
  padding-right:5%;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      // color: #900303;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.toggle-optional {
  display:inline-flex;
  white-space: nowrap;
}

// #show-optional {
//   padding: 0px !important;
//   margin: 0px !important;
//   border: 0px !important;
//   input {
//     height: 10px !important;
//     padding: 0px !important;
//     margin: 0px !important;
//     border: 0px !important;
//   }
//   .checkbox {
//     padding-right: 0px !important;
//   }
// }

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* customers */

.customers {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;    
  }
  .basic {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    ul {
      list-style: none;
      padding-left: 40px;
      li {
        padding: 0px;
        margin: 0px;
        ul {
          display: inline;
          list-style: none;
          padding: 0px;
          li {
            display: inline;
            padding: 0px;
            margin: 0px;
          }
          li:after {
            content:",";
          }
          li:last-child:after {
              content: "";
          }        
        }
      }
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    padding-left: 38px;
    padding-top: 0px;   
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;    
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* pdf_forms */

.pdf_forms {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;    
  }
  .basic {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    ul {
      list-style: none;
      padding-left: 40px;
      li {
        padding: 0px;
        margin: 0px;
        ul {
          display: inline;
          list-style: none;
          padding: 0px;
          li {
            display: inline;
            padding: 0px;
            margin: 0px;
          }
          li:after {
            content:",";
          }
          li:last-child:after {
              content: "";
          }        
        }
      }
    }
    .cols {
      padding-left: 40px;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    padding-left: 38px;
    padding-top: 0px;   
    padding-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;    
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.dropdown-menu {
  width: 100%; 
}

.btn{
 width: 100%;
}

.navbar {
  padding-right: 5%;
  padding-left: 5%;
}
