<footer class="footer">
  <small>
    &copy; <a href="http://howardanguyen.com/">Howard Nguyen</a>. All rights reserved.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>    
      <li><%= link_to "Contact", "http://howardanguyen.com/contact" %></li>
    </ul>
  </nav>
</footer>